<!-- home.html -->
{% extends 'website/layouts/base.html' %}
{% block title %}Home - GIG{% endblock %}
{% block content %}

<!-- Main content -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Welcome to The Gig Job Portal</h1>
    <p class="lead">We are hring on weekends</p>
    <hr class="my-4">
    <p>It features a responsive layout, navbar, content blocks, and a footer.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Section 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in felis nec justo consectetur faucibus vel nec urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
    <div class="col-md-6">
      <h2>Section 2</h2>
      <p>Curabitur in quam non ex aliquam tincidunt. Mauris at arcu vel purus bibendum eleifend. Fusce euismod urna quis augue hendrerit, a laoreet est hendrerit. Nam hendrerit mi vitae malesuada suscipit.</p>
    </div>
  </div>
</div>

{% endblock %}