{% extends 'admin/layouts/base.html' %}
{% block title %}Home - My Website{% endblock %}
{% block content %}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Candidate List</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Candidate List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="card">
            <div class="card mt-2">
                <div class="card-header">
                    <h3 class="card-title">User List</h3>
                </div>
            
                <div class="card-body">
                    <table id="userTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Modal for adding/updating users -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <!-- Your modal content -->
</div>
<script>
    $(document).ready(function () {
        var userTable = $('#userTable').DataTable({
            'ajax': {
                "processing":true,
                "searching":true,
                'url': '{% url 'fatch_user_list' %}',
                'dataSrc': 'data'
            },
            'columns': [
                { 'data': 'id' },
                { 'data': 'username' },
                { 'data': 'email' },
                { 'data': 'actions',}
            ]
        });
        
    });
</script>

{% endblock %}